{% extends 'base.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-lg-6">
            <h3>Mes invitations en attente</h3>
            {% for invitation in mesInvitations %}
                {{ invitation.username }}
            {% endfor %}


          {#  {% if friends is empty %}
                <p>Pas d'ami</p>
            {% else %}
                {% for user in friends %}
                    {{ user.username}}
                {% endfor %}
            {% endif %}#}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>Leur invitations en attente</h3>

            {% for invitation in leurInvitations %}
            {{ invitation.username }}
            {% endfor %}

            {#  {% if friends is empty %}
                  <p>Pas d'ami</p>
              {% else %}
                  {% for user in friends %}
                      {{ user.username}}
                  {% endfor %}
              {% endif %}#}
        </div>
    </div>

{% endblock %}