{% extends 'baseOrConnexion.html.twig' %}

{% block content %}
    <a href="{{ path('fos_user_security_login') }}"><img src="{{ asset('templates/dist/img/logo.png') }}" alt="logo" /></a>
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title">Inscription</h2>
        </div>
        <p>
            Un email a été envoyé. Il contient un lien sur lequel vous devez cliquer pour activer votre compte.
        </p>
        <p>
            Revenir à la page de login : <a href="{{ path('fos_user_security_login') }}">login</a>
        </p>
    </div>

{% endblock %}