.input-group .form-control:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo-check-email {
    position: center;
}

.register-page {
    max-width: 100%;
    height: auto;
    background-image: url("../templates/dist/img/background-image.jpg");
    background-size: cover;
}

.login-page {
    max-width: 100%;
    height: auto;
    background-image: url("../templates/dist/img/background-image.jpg");
    background-size: cover;
}

.login-box-body{
    border-top:solid thin #41d1ff;
    border-right:solid thin #41d1ff;
    border-bottom:solid thin #41d1ff;
    border-left:solid thin #41d1ff;
    border-radius: 5px 5px 5px 5px ;
    background-color: white;
}
.register-box-body {
    border-top:solid thin #41d1ff;
    border-right:solid thin #41d1ff;
    border-bottom:solid thin #41d1ff;
    border-left:solid thin #41d1ff;
    border-radius: 5px 5px 5px 5px ;
    background-color: white;
}

.span3, .well {
    background-image: url("../templates/dist/img/span3.jpg");
}

.error-message{
    color : red;
}

.search-bar{
    position: relative;
    padding-top: 10px;

}


