
{% trans_default_domain 'FOSUserBundle' %}

<a href=""><img src="{{ asset('templates/dist/img/logo.png') }}" alt="logo" /></a>


<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="col-sm-10 box-title">Récupération mot de passe</h3>
    </div>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
        <div class="box-body">
            <div class="form-group">
                <label for="username" class="col-sm-3 control-label">{{ 'resetting.request.username'|trans }}</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="username" name="username" required="required" />
                </div>
            </div>
        </div>
        <div>
            <input type="submit" class="  btn btn-info pull-right" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
</div>
