{% extends 'base.html.twig' %}

{% block content %}

<div class="box box-warning direct-chat direct-chat-warning">
    <div class="box-header with-border">
        <h3 class="box-title">{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</h3>

        {#<div class="box-tools pull-right">#}
            {#<span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="3 New Messages">3</span>#}
            {#<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>#}
            {#</button>#}
            {#<button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="" data-widget="chat-pane-toggle" data-original-title="Contacts">#}
                {#<i class="fa fa-comments"></i></button>#}
            {#<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>#}
            {#</button>#}
        {#</div>#}

<ul>
    <li><a href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
    <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
    <li><a href="{{ url('fos_message_deleted') }}">{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</a></li>
</ul>
    </div>


{% block fos_message_content %}

{% endblock %}
</div>
{% endblock %}
